<div class="navbar" id ="footer" style="background-color: #e8e8e8; margin-bottom: 10px; margin-top: 350px; width: 1800px;">
	<div id="footer-text" class="col-md-9" style="color: grey; font-size: 14px;margin-left: 400px;"><label id="footer-label"><h><%= t('blacklight.footer.h1')%></h></br><h><%= t('blacklight.footer.h2')%></h></label></div></div>
    </div>
