<div class="nav-bar" id="footer-navbar" style="background-color: #e8e8e8; margin-bottom: 10px; margin-top: 350px; width: 1440px;">
<label id="footer-label"><h4 style="color: grey; font-size: 14px;">(C)1998-2014 Denmark's Electronic Research Library - Danish Agency for Libraries And Media in cooperation with the Ministry of Culture, Ministry of Science, Technology and Innovation and Ministry of Education</h4></label>
</div>