<div class="navbar" id="header-navbar">
<div class="navbar-right">
  <ul class="nav navbar-nav">
    <li>
    <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
    </li>
  </ul>
</div>
