<div id="home_text_area"style="width: 1000px; height: 600px; margin-top: 30px; font-size: 16px; "><%= t('blacklight.loremipsum_del1') %><br/><br/><%= t('blacklight.loremipsum_del2')%><br/></br/><%= t('blacklight.loremipsum_del3')%></div>
