<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<div class="panel panel-default show-tools">
  <div class="panel-heading">
    <div class="panel-title">Researcher Descriptions:</div>
  </div>
  <div class="panel-body">
    <h5>At Universities:</h5>

    <h5>Elsewhere:</h5>
    <% (@document['backlink_ss'] || []).each do |link| %>
      <%= link_to t("source_labels.#{get_backlink_origin link}"), link, :target => '_blank' %>
    <% end %>
  </div>
</div>
