<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<div class="panel panel-default show-tools">
  <div class="panel-heading">
    <label><h4>GET IT</h4></label>
  </div>
  <div class="panel-body">
  <ul class="nav">
      <li>
      <h>Institutional Repositories:</h>
      </li>
      <li >
       <a class="btn-link" id="sourcelink_in GetIt_box" style="color: #3366CC;">orbit.dtu.dk</a>
       <a class="btn-link" id="sourcelink_in GetIt_box" style="color: #3366CC;">vbn.aau.dk</a>
      </li>
  </ul>
  </div>
</div>
