<div id="sortAndPerPage" class="clearfix">
  <%= render :partial => "paginate_compact", :object => @response %>
    <div class="search-widgets pull-right"> 
      <%= render :partial => 'per_page_widget' %> 
      <%= render :partial => 'sort_widget' %>  
    </div>
</div>

