
@import 'kenkyu_defaults';
#header-navbar{
    background-color: $kenkyu-darkblue;
    border-bottom-color: $kenkyu-darkblue;
  #history_link{
        margin-left: 500px;
        padding-top: 20px;
        display: block;
    }
    
    #language_link {
      margin-right: 10px;
      margin-top: 15px;
      color: grey;

      &:focus {
        color: $grey;
       }
      }

    a {
      color: grey;
     &:focus {
      color: white;
       }
     &:hover {
      color: white;
     }
    }
  
    
  }
