/*variables*/

$lightgrey: #e8e8e8;
$grey: grey;
$black: black;
$blue: blue;
$red: #E00000;
$kenkyu-blue: #3366CC;
$kenkyu-red: #980000;
$white: white;
$big-fontsize: 18px;
$medium-fontsize: 16px;



 