@import 'kenkyu_defaults';

/* Generic layout stuff */

.navbar + .navbar {
  margin-top: -$navbar-margin-bottom;
}

/*
  Header bar at top (Bootstrap nav-bar)
*/

 #header-navbar {
   display:none;
  .navbar-right {
       display:none;
       font-size: $medium-fontsize;
  }
  .navbar-collapse {
     display:none;
     background-color: $kenkyu-steelblue;
  }
}

 .container {
  .col-md-3{
    .top-panel-heading{
    display:none;
  }  
}
  .more_facets_link {
    margin-left: 160px;
    margin-right: 0px;
    width: 70px;
    font-size: 14px;
    text-align: right;
    height: 30px;
}

 .facet-count {
   margin-left: 140px; 
   margin-right: 15px;
   width: 80px;
   height: 20px;
 } 


  #content{
    font-size: $medium-fontsize;
  }  
}
   
    
     
    
    


 
 

