@import 'kenkyu_defaults';

/* Generic layout stuff */

.navbar + .navbar {
  margin-top: -$navbar-margin-bottom;
}


/*
  Header bar at top (Bootstrap nav-bar)
*/

#header-navbar {
   display:none;
  .navbar-right {
       display:none;
       margin-right: 200px;
       font-size: $medium-fontsize;
  }

  

   .navbar-collapse {
     display:none;
     background-color: $kenkyu-steelblue;

  }

  .container {
  
    width: 1440px;
    
  
    }
    
  }

  

