 @import 'kenkyu_defaults';
  
  /* Search-area*/


   .container {

      
      margin-left: 0px;

   }

   .search-btn {

    background-color: $kenkyu-blue;
    width: 150px;
    margin-left: 5px;
    font-size: $medium-fontsize;
   
    
    }

    .navbar-header {
     
     width: 1440px;
     background-color: $kenkyu-steelblue;
     margin-left: 0px;

    }


    .input-group {
      margin-left: 100px;
      margin-top: 20px;
      margin-bottom: 10px;
      width: 200px; 
     
       .q.form-control {
    
       width: 400px;
       font-size: $medium-fontsize;
 
      }
    }

    


    .input-group-addon {
       margin-left: 100px; 
       width: 500px;
       border: none;
       background-color: $kenkyu-steelblue;
       
    }

    .sr-only {
       
       width: 400px;
       border: none;
       background-color: $kenkyu-steelblue;
       
    }


    .search_field {
     
      width:350px;
      background-color: $kenkyu-steelblue;
      color: $white;
      font-size: $big-fontsize;
      font-weight: bold;
      border: none;

  
    
  }

 
    

