 @import 'kenkyu_defaults';
  
  /* Search-area*/

#search-navbar {
  background-color: $kenkyu-steelblue;

  .navbar-header {
    float: none;

    a.title  {
      color: #fff;
      font-size: 12pt;
      line-height: 50px;
    }
  }
}

  .search-btn {
       background-color: $kenkyu-blue;
       width: 150px;
       margin-left: 5px;
       font-size: $medium-fontsize;
  }

  .input-group {
     
      .q.form-control {
       font-size: $medium-fontsize;
    }
  }
  .input-group-addon {
       border: none;
       background-color: $kenkyu-steelblue;
    }
  .sr-only {
       border: none;
       background-color: $kenkyu-steelblue;
    }
  .search_field {
      background-color: $kenkyu-steelblue;
      color: $white;
      font-size: $big-fontsize;
      font-weight: bold;
      border: none;
    }
 
    

